<!DOCTYPE HTML>
<html>
<head>
	<title>@ViewBag.Title</title>
</head>
<body>
	<header>
		<ul>
			<li><a href="/metadata">Metadata</a></li>
			<li><a href="/todos">Todos</a></li>
		</ul>
	</header>
	@RenderBody()
</body>
</html>
